*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.d-flex{
    display: flex;
}

.d-col{
    flex-direction: column;
}

.row-reverse{
    flex-direction: row-reverse;
}

.parent-container{
    height: 100vh;
}

/* heading starts */

.heading{
    padding: 76px;
    text-align: center;
}

.heading>img{
    margin-bottom: 20px;
    height: 45px;
}

.heading>h2{
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
}

.heading>p{
    font-size: 27px;
    color: #4B10A0;
}

/* heading ends */

.hero{
    height: 100%;
}

/* left sec starts */

.left{
    /* padding: 0 0 0 169px; */
    margin-left: 15%;
    flex-basis: 34%;
}

.left>div{
    text-align: center;
}

form input{
    border: none;
    border-bottom: 1.5px black solid;
    padding: 0 0px 6px 0;
    outline: none;
}

form>div{
    height: 13%;
    margin-bottom: 20px;
}

form>div>label{
    margin-bottom: 12px;
}

#message{
    margin-top: 63px;
}

::placeholder{
    color: lightgray;
    margin-bottom: 20px;
}

.submit-btn{
    padding: 11px 24px;
    border: none;
    border-radius: 30px;
    width: 24%;
    margin-top: 22px;
    background-color: #4B10A0;
    color: white;
    cursor: pointer;
}

/* left sec ends */

/* right sec starts*/
.right{
    display: flex;
    flex-basis: 42%;
    margin-left: 10%;

}

.cards{
    width: 83%;
    height: 40%;
    border-radius: 20px;
    margin-bottom: 23px;
}

.cards>div{
    width: 26%;
    height: 90%;
    border-radius: 15px;
    background-color: #4B10A0;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards>div>img{
    flex: 1;
    width: 23%;
}

.cards>div>pre{
    margin-bottom: 11px;
    font-weight: bold;
}

.top-left-card{
    rotate: -14deg;
    width: 28%;
    margin-right: 50px;
}

.top-right-card{
    rotate: 20deg;
    transform: translateY(-27px);
    justify-content: end !important;
    background-color: #7dd4e8 !important;
}

.top-right-card>button{
    background-color: transparent;
    color: white;
    border: none;
    flex-wrap: wrap;
    height: 66%;
    cursor: pointer;
    font-size: 32px;
}

.top-right-card>button>p{
    
    margin: 0;
    font-weight: bold;
    width: 57%;
    text-align: start;
    letter-spacing: 1px;
    font-size: 28px;
    padding: 13px 13px 0 13px;
    line-height: 1;
    font-weight: bold;
}

.bottom-left-card{
    /* margin-top: 35px; */
    rotate: 20deg;
    transform: translateX(-31px);
    background-color: #f1c934 !important;
}

.bottom-left-card>p{
    word-wrap: break-word;
    width: 66%;
    align-self: baseline;
    padding: 0 0 0 11px;
    font-weight: bold;
    margin-bottom: 11px;
}

.bottom-right-card{
    margin: 0;
    transform: translateX(28px);
    rotate: -14deg;
    background-color: #97d431 !important;
    margin-bottom: 20px;
    position: relative;
    bottom: 37px;
}

.bottom-right-card>p{
    word-break: break-word;
    width: 71%;
    font-weight: bold;
    margin-bottom: 11px;
}
/* right sec ends */